<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Document</title>
        <meta name="viewport" content="width=device-width"/>
    </head>
    <body>
        <table style="font-family:Helvetica, Verdana, Arial, Helvetica, sans-serif" width="100%">
            <tr>
                <td style="margin: 0;padding: 0;background-color: #fafafa">
                    <table style="padding: 15px;background-color: #fff; max-width: 600px;width:100%" align="center">

                        <tr th:replace=~{mid-office/EXSCUDO/fragments/header.html}/>

                        <tr>
                            <td>
                                <p style="font-size: 14px">Dear Risk Manager!</p>
                                <p style="font-size: 14px">Margin trading on an exchange is a risky activity and YOU ARE THE CHOSEN ONE TO CLEAN UP EVERYTHING.</p>
                                <p style="font-size: 14px">Currently there are <th:block th:text="${totalNotificationsCount ?: 66}">XX</th:block> portfolios that require you attention</p>

                                <table border="1">
                                    <tr>
                                        <th>Root Login</th>
                                        <th>Portfolio Code</th>
                                        <th>Value</th>
                                        <th>Risk</th>
                                        <th>Liquidation Value</th>
                                        <th>Margin Level</th>
                                    </tr>
                                    <tr th:each="notification : ${notifications}">
                                        <td th:text="${notification.rootLogin}">login</td>
                                        <td th:text="${notification.portfolioCode}">login</td>
                                        <td th:text="${notification.value}">login</td>
                                        <td th:text="${notification.risk}">login</td>
                                        <td th:text="${notification.liquidationValue}">login</td>
                                        <td th:text="${notification.marginLevel}">login</td>
                                    </tr>
                                </table>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <hr/>
                                <br/>
                                <p style="color: #656565;font-size: 14px;line-height: 1.5em;">Best regards, <br/>Exscudo Team.
                                </p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <table th:replace=~{mid-office/EXSCUDO/fragments/footer.html}/>

    </body>
</html>