{{>confirmation/design/header}}

<div class="container">
    <h1 class="h1">{{exscudoName}} <br/>Withdrawal Security</h1>
    <p class="desc desc--margin-large">
        <b class="desc__medium desc__medium--red">
            2-Factor Authorization is successfully unset.
        </b>
    </p>
    <p class="desc desc--margin-large">
        You'll be redirected back to the {{exscudoName}} exchange in a few seconds
    </p>
    <p class="desc desc--margin-large">
        if you are not redirected automatically <a href="{{redirectUrl}}">click here</a>
    </p>
</div>

<script>
    // Redirect
    window.setTimeout(function() {
        window.location.assign("{{redirectUrl}}");
    }, 10000);
</script>
{{>confirmation/design/footer}}
