<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <body>
    <table th:fragment="footer" border="0" cellpadding="0" cellspacing="0" width="100%" class="m_5921450442574318743mcnTextBlock"
       style="max-width:564px; padding-top: 25px; margin: 0 auto; border-top: 2px solid #eeeeee">
      <tbody class="m_5921450442574318743mcnTextBlockOuter">
        <tr>
            <td valign="top" class="m_5921450442574318743mcnTextBlockInner" style="padding-top:9px">
                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%"
                       width="100%" class="m_5921450442574318743mcnTextContentContainer">
                    <tbody>
                    <tr>

                        <td valign="top" class="m_5921450442574318743mcnTextContent"
                            style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;text-align: center;color: #656565;font-family: Helvetica;font-size: 12px;line-height: 150%;">

                            <em>Copyright © <span class="il">Exscudo</span> OÜ&nbsp;All rights reserved.</em><br/>
                            <br/>
                            <strong>Our mailing address is:</strong><br/>
                            <span class="il">Exscudo</span> OÜ<br/>
                            <a style="color: #656565;"
                               href="https://maps.google.com/?q=Merirahu+58+%0D+Tallinn%C2%A013516+%0D+Estonia&amp;entry=gmail&amp;source=g">Merirahu
                                58</a><br/>
                            Tallinn&nbsp;<a style="color: #656565;"
                                            href="https://maps.google.com/?q=Merirahu+58+%0D+Tallinn%C2%A013516+%0D+Estonia&amp;entry=gmail&amp;source=g">13516</a><br/>
                            Estonia<br/>
                            <br/>
                        </td>
                    </tr>
                </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>