<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Document</title>
</head>
    <body>
        <table style="padding: 0 16px; background-color: #1B1B2D; max-width: 600px;width:100%" align="center">

            <tr th:replace=~{fragments/header.html} />

            <tr class="row">
                <td colspan="2">
                    <p class="text">Hello!</p>
                    <p class="text">To approve your withdrawal of <span th:text="${sum}">0.0</span> <span>EON</span> to the external address
                        <span th:text="${address}">ADDR</span> please click the button below.
                    </p>
                </td>
            </tr>
            <tr class="row" style="margin-bottom: 72px">
                <td colspan="2" style="display: block; width: 100%; text-align: center; padding: 16px 0">
                    <a class="button text" th:href="@{'https://' + ${hostname} + '/ico/tokens/withdraw/' + ${what} + '/confirm/' + ${token} + '/'}">
                        WITHDRAW
                    </a>
                </td>
            </tr>
            <tr class="row">
                <td colspan="2">
                    <p class="text">
                        For security reasons this link will expire in 24 hours.<br/>
                        If this activity is not your own operation, you can cancel the transaction.
                    </p>
                </td>
            </tr>
            <tr class="row" style="margin-bottom: 72px">
                <td colspan="2" style="display: block; width: 100%; text-align: center; padding: 16px 0">
                    <a class="button text" th:href="@{'https://' + ${hostname} + '/ico/tokens/withdraw/' + ${what} + '/cancel/' + ${token} + '/'}">
                        CANCEL
                    </a>
                </td>
            </tr>
        </table>

        <div th:replace=~{fragments/footer.html}/>

     </body>
</html>