<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Document</title>
        <meta name="viewport" content="width=device-width"/>
    </head>
    <body>
        <table style="padding: 0 16px; background-color: #1B1B2D; max-width: 600px; width:100%" align="center">

            <tr th:replace=~{mid-office/NIMERA/fragments/header.html} />

            <tr class="row">
                <td colspan="2">
                    <p class="text">Hello!</p>
                    <p class="text" style="margin-bottom: 40px">
                        There was an error processing your transaction of [[${amount}]] [[${currency}]] total.
                        Please check the data you have entered, check the balance of the account and repeat the payment.
                        In case the money was transferred but never received&nbsp;-&nbsp;<a href="https://exscudo.atlassian.net/servicedesk/customer/portal/1">Please contact Support Team</a>
                    </p>
                </td>
            </tr>
        </table>

        <div th:replace=~{mid-office/NIMERA/fragments/footer.html}/>

    </body>

</html>