<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Document</title>
        <meta name="viewport" content="width=device-width"/>
    </head>
    <body>
        <table style="padding: 0 16px; background-color: #1B1B2D; max-width: 600px; width:100%" align="center">

            <tr th:replace=~{mid-office/NIMERA/fragments/header.html} />

            <tr class="row">
                <td colspan="2">
                    <p class="text">
                        Dear Customer, unfortunately there was an error processing your payment
                        of [[${amount}]] [[${currency}]] total<th:block th:if="${destinationAddress} != null"> to [[${destinationAddress}]]</th:block>.
                    </p>
                    <p class="text" th:if="${reason != null}">[[${reason}]]</p>
                    <p class="text" style="margin-bottom: 40px">
                        Please check the data you entered and try again. Thank you.
                    </p>
                </td>
            </tr>
        </table>

        <div th:replace=~{mid-office/NIMERA/fragments/footer.html}/>

    </body>
</html>