<tr>
    <td>
        <hr>
        <br>
        <p style="color: #656565;font-size: 14px;line-height: 1.5em;">Best regards, <br>{{exscudoName}} Team.</p>
    </td>
</tr>
</table>
</td>
</tr>
</table>
</body>

</html>