<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Document</title>
</head>
<body>
    <table style="font-family:Helvetica, Verdana, Arial, Helvetica, sans-serif" width="100%">
        <tr>
            <td style="margin: 0;padding: 0;background-color: #fafafa">
                <table style="padding: 15px;background-color: #fff; max-width: 600px;width:100%" align="center">

                    <tr th:replace=~{web-cabinet/EXSCUDO/fragments/header.html} />
                    
                    <tr>
                        <td>
                            <p style="font-size: 14px">Dear user,</p>
                            <p style="font-size: 14px">You've requested details for a wire transfer for depositing <span
                                    th:text="${currency}">USD</span> to your Exscudo wallet..</p>
                            <p style="font-size: 14px">Deposit via SEPA transfer:</p>
                            <table style="padding: 15px;background-color: #fff; max-width: 600px;width:100%; font-size: 14px">
                                <tr>
                                    <td style="width: 50%; vertical-align: top">
                                        Owner of account
                                    </td>
                                    <td>
                                        <span th:text="${receiverFullNameSepa}">lorem ipsum</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 50%; vertical-align: top">
                                        Bank name
                                    </td>
                                    <td>
                                        <span th:text="${receiverBankNameSepa}">lorem ipsum</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 50%; vertical-align: top">
                                        Bank address
                                    </td>
                                    <td>
                                        <span th:text="${receiverBankAddressSepa}">lorem ipsum</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 50%; vertical-align: top">
                                        Bank tel/fax
                                    </td>
                                    <td>
                                        <span th:text="${receiverBankTelFax}">lorem ipsum</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 50%; vertical-align: top">
                                        Bank SWIFT-code
                                    </td>
                                    <td>
                                        <span th:text="${receiverBankSwiftSepa}">lorem ipsum</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 50%; vertical-align: top">
                                        IBAN
                                    </td>
                                    <td>
                                        <span th:text="${IBAN}">lorem ipsum</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 50%; vertical-align: top">
                                        Purpose of payment
                                    </td>
                                    <td>
                                        <span th:text="${purposeSepa}">lorem ipsum</span>
                                    </td>
                                </tr>
                            </table>
                            <p style="font-size: 14px">Deposit via SWIFT transfer:</p>
                            <table style="padding: 15px;background-color: #fff; max-width: 600px;width:100%; font-size: 14px">
                                <tr>
                                    <td style="width: 50%; vertical-align: top">
                                        Correspondent bank
                                    </td>
                                    <td>
                                        <span th:text="${correspondentBankName}">lorem ipsum</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 50%; vertical-align: top">
                                        Correspondent bank SWIFT-code
                                    </td>
                                    <td>
                                        <span th:text="${correspondentBankSwift}">lorem ipsum</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 50%; vertical-align: top">
                                        Correspondent bank account
                                    </td>
                                    <td>
                                        <span th:text="${correspondentBankAccount}">lorem ipsum</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 50%; vertical-align: top">
                                        Receiver bank
                                    </td>
                                    <td>
                                        <span th:text="${receiverBankNameSwift}">lorem ipsum</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 50%; vertical-align: top">
                                        Receiver bank address
                                    </td>
                                    <td>
                                        <span th:text="${receiverBankAddressSwift}">lorem ipsum</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 50%; vertical-align: top">
                                        Receiver bank SWIFT-code
                                    </td>
                                    <td>
                                        <span th:text="${receiverBankSwiftSwift}">lorem ipsum</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 50%; vertical-align: top">
                                        Receiver fullname
                                    </td>
                                    <td>
                                        <span th:text="${receiverFullNameSwift}">lorem ipsum</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 50%; vertical-align: top">
                                        Receiver bank account
                                    </td>
                                    <td>
                                        <span th:text="${receiverBankAccount}">lorem ipsum</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 50%; vertical-align: top">
                                        Purpose of payment
                                    </td>
                                    <td>
                                        <span th:text="${purposeSwift}">lorem ipsum</span>
                                    </td>
                                </tr>
                            </table>
                            <br/>
                            <p style="font-size: 14px">If this activity is not your own operation, please ignore the
                                letter.</p>
                            <p style="font-size: 14px;margin-top:25px"/>
                        </td>
                    </tr>
                    
                    <tr th:replace=~{web-cabinet/EXSCUDO/fragments/sign.html} />

                </table>
            </td>
        </tr>
    </table>

    <table th:replace=~{web-cabinet/EXSCUDO/fragments/footer.html}/>

</body>

</html>