<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Sign Up Confirmation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>

    <body>


  <table style="font-family:Helvetica, Verdana, Arial, Helvetica, sans-serif" width="100%">
      <tr>
          <td style="margin: 0;padding: 0;background-color: #fafafa">
              <table style="padding: 15px;background-color: #fff; max-width: 600px;width:100%" align="center">

                  <tr th:replace=~{fragments/header.html} />

                  <tr>
                      <td>
                          <br/>
                          <h1 style="color: #00cccc;font-size:26px">Welcome to Exscudo!</h1>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <p style="font-size: 14px">Thank you for creating the Exscudo account. Please verify your email and set up password to complete the registration process</p>
                          <br/>
                          <p style="font-size: 14px">
                              <a style="font-weight: bold;border-radius: 4px;padding:10px;background-color: #00cccc;color: #fff;text-decoration:none"
                                 th:href="@{'https://' + ${hostname} + '/#/signup/confirm/' + ${token} + '/?utm_nooverride=1&amp;utm_campaign=reg_activation&amp;utm_source=notification&amp;utm_medium=email'}">Activate</a>
                          </p>
                          <br/>
                          <p style="font-size: 14px">For security reasons this link will expire in 24 hours.</p>
                          <p style="font-size: 14px">If you are not the one who has made it, please ignore the letter.</p>
                      </td>
                  </tr>

                  <tr th:replace=~{fragments/sign.html} />

              </table>
          </td>
      </tr>
  </table>

    <table th:replace=~{fragments/footer.html}/>
    
</body>

</html>