<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Document</title>
</head>
<body>
  <table style="font-family:Helvetica, Verdana, Arial, Helvetica, sans-serif" width="100%">
      <tr>
          <td style="margin: 0;padding: 0;background-color: #fafafa">
              <table style="padding: 15px;background-color: #fff; max-width: 600px;width:100%" align="center">

                  <tr th:replace=~{fragments/header.html} />

                  <tr>
                      <td>
                          <p style="font-size: 14px">Good day,</p>
                          <p style="font-size: 14px">Your Exscudo password has been changed!</p>
                          <p style="font-size: 14px">If you are not the one who has made it, please contact us immediately via support link below</p>
                          <p style="font-size: 14px;margin-top:25px">
                              <a style="font-weight: bold;border-radius: 4px;padding:10px;background-color: #00cccc;color: #fff;text-decoration:none"
                                 href="https://exscudo.atlassian.net/servicedesk/customer/portal/1/create/27">Write to
                                  support</a>
                          </p>
                          <br/>
                          <p style="font-size: 14px">If this activity is not your own operation, you can disable your account via this link.</p>
                          <a style="font-weight: bold;border-radius: 2px;padding:10px;background-color: #8B0000;color: #fff;text-decoration:none"
                                  th:href="@{'https://' + ${hostname} + '/#/user/disable/' + ${disable} + '/'}">Disable</a>
                          <p style="font-size: 14px">Please note that clicking/tapping this button leads to account freeze and KYC verification level reset.</p>
                          <p>Restoring access to account implies contacting <a href="https://help.exscudo.com">Exscudo support team</a>,
                              and re-progressing through
                              <a href="https://exscudo.atlassian.net/servicedesk/customer/portal/1/topic/b585bf36-a1d8-4fc1-b4b9-2fb7b6d81cb5">KYC verification steps</a>.</p>
                      </td>
                  </tr>

                  <tr th:replace=~{fragments/sign.html} />

              </table>
          </td>
      </tr>
  </table>
    
  <table th:replace=~{fragments/footer.html}/>

</body>

</html>