<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Welcome to Exscudo!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>

    <body>


  <table style="font-family:Helvetica, Verdana, Arial, Helvetica, sans-serif" width="100%">
      <tr>
          <td style="margin: 0;padding: 0;background-color: #fafafa">
              <table style="padding: 15px;background-color: #fff; max-width: 600px;width:100%" align="center">

                  <tr th:replace=~{fragments/header.html} />

                  <tr>
                      <td>
                          <br/>
                          <h1 style="color: #00cccc;font-size:26px">Welcome to Exscudo!</h1>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <p style="font-size: 14px">Your account is now activated.</p>
                          <p style="font-size: 14px">You may now return to the <a th:href="${hostname}">Exchange</a>.</p>
                      </td>
                  </tr>

                  <tr th:replace=~{fragments/sign.html} />

              </table>
          </td>
      </tr>
  </table>

  <table th:replace=~{fragments/footer.html}/>
    
</body>

</html>