<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>User already confirmed</title>
</head>
<body>
    <table style="font-family:Helvetica, Verdana, Arial, Helvetica, sans-serif" width="100%">
        <tr>
            <td style="margin: 0;padding: 0;background-color: #fafafa">
                <table style="padding: 15px;background-color: #fff; max-width: 600px;width:100%" align="center">

                    <tr th:replace=~{fragments/header.html} />

                    <tr>
                        <td>
                            <br/>
                            <h1 style="color: #00cccc;font-size:26px">Welcome to Exscudo!</h1>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="font-size: 14px">Someone, probably you, tried to register this Exscudo account again.</p>
                            <p style="font-size: 14px">If you forgot your password, please proceed with password reset by
                                following this link:</p>
                            <br/>
                            <p style="font-size: 14px">
                                <a style="font-weight: bold;border-radius: 4px;padding:10px;background-color: #00cccc;color: #fff;text-decoration:none"
                                   th:href="@{'https://' + ${hostname} + '/#/reset/' + ${token} + '/'}">Reset password</a>
                            </p>
                            <br/>
                        </td>
                    </tr>

                    <tr th:replace=~{fragments/sign.html} />

                </table>
            </td>
        </tr>
    </table>

    <table th:replace=~{fragments/footer.html}/>

</body>

</html>