<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Document</title>
        <meta name="viewport" content="width=device-width"/>
    </head>
    <body>
        <table style="padding: 0 16px; background-color: #1B1B2D; max-width: 600px; width:100%" align="center">

            <tr th:replace=~{mid-office/NIMERA/fragments/header.html} />

            <tr class="row">
                <td colspan="2">
                    <p class="text">Congratulations!</p>
                    <p class="text">
                        Your questionnaire has been reviewed. We confirm that all limits on
                        trading, deposits and withdrawals have been removed for your account.
                    </p>
                    <p class="text" style="margin-bottom: 40px">
                        Thank you for your compliance, we wish you happy trading!
                    </p>
                </td>
            </tr>
        </table>

        <div th:replace=~{mid-office/NIMERA/fragments/footer.html}/>

    </body>
</html>