<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Document</title>
        <meta name="viewport" content="width=device-width"/>
    </head>
    <body>
        <table style="padding: 0 16px; background-color: #1B1B2D; max-width: 600px; width:100%" align="center">

            <tr th:replace=~{mid-office/NIMERA/fragments/header.html} />

            <tr class="row">
                <td colspan="2">
                    <p class="text">Congratulations!</p>
                    <p class="text">Your address have been successfully verified. Thank you for your
                        compliance.
                        To remove remaining limits on trading, deposits and withdrawals, please continue with the
                        verification.</p>
                    <p class="text" style="margin-bottom: 40px">If you have any questions, you can direct them to our
                        <a href="https://exscudo.atlassian.net/servicedesk/customer/portal/1">support team</a>.
                    </p>
                </td>
            </tr>
        </table>

        <div th:replace=~{mid-office/NIMERA/fragments/footer.html}/>

    </body>
</html>