{{>email/design/header}}

<tr>
    <td>
        <p style="font-size: 14px">Dear user,</p>
        <p style="font-size: 14px">To reset 2-Factor Authorization for your withdrawal operations please click the button below and follow instructions on a page.</p>
        <p style="font-size: 14px;margin-top:25px;margin-bottom:25px">
            <a style="font-weight: bold;border-radius: 4px;padding:10px;background-color: #00cccc;color: #fff;text-decoration:none" href="{{URL}}">Reset 2FA</a>
        </p>
        <p style="font-size: 14px">If this activity is not your own operation, please ignore the letter.</p>
    </td>
</tr>

{{>email/design/footer}}
